Makefile
config.log
config.status
fofi/*.o
xpdf/*.o
splash/*.o
goo/*.o
goo/*.a
goo/Makefile
fofi/Makefile
fofi/*.a
fofi/Makefile
splash/Makefile
splash/*.a
xpdf/Makefile
xpdf/pdfdetach
xpdf/pdffonts
xpdf/pdfimages
xpdf/pdfinfo
xpdf/pdftohtml
xpdf/pdftojson
xpdf/pdftops
xpdf/pdftotext

